filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/*.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

setup.kibana:
  host: "pvlsede055:5601"

output.elasticsearch:
  hosts: ["pvlsede055:9200"]
  username: "elastic"
  password: "TXKgUB6Au8Ct46lF84GA"


processors:
  - add_host_metadata:
     when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~

